{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<center>
    <div class="col-md-9" style="background-color:#1A73E8;" >
        <br>
        <br>

        <div class="col-md-12"  style="background-color:#C9D2E3; justify-content: center;
    padding: 10px; position: relative;">
            <br>
            <br>
            <br>
            <br>
            <div class="col-md-12" style="text-align: justify;">

                The aim of Miika is to serve as new learning modality for Aircraft Maintenance Technology Students of PhilSCA-VAB
                to help students to adjust to the shift of traditional schooling to flexible learning and for the dissemination of information
                and materials to allow accessibility and convenience for both students and teachers.

            </div>
                     <br>
                     <br>
            <div  class="content-sectionabout col-md-12" style="position: absolute;  top: -240px;  right: -20px;">
            </div>
            <!--<center>-->
                     <br>
                     <br>
            <div  class="content-sectionmiika col-md-12" style="position: absolute;  top: -130px;  right: -380px;">
            </div>
            <!--</center>-->
        </div>
    </div>
</center>

<!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat"> </div>
{% endblock content %}

{% block js %}



    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "105918401861032");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

{% endblock js %}
