{% extends "miika/base.html" %}
{% block content %}
<br>
<br>
<br>
<br>


  <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

{% endblock content %}
{% block js %}

<!-- Messenger Chat Plugin Code -->

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "109575538175911");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>



<!-- Start of ChatBot (www.chatbot.com) code -->

<!--<script type="text/javascript">-->
    <!--window.__be = window.__be || {};-->
    <!--window.__be.id = "616d2cfbf3d5b30007f29875";-->
    <!--(function() {-->
        <!--var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;-->
        <!--be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';-->
        <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);-->
    <!--})();-->
<!--</script>-->

<!-- End of ChatBot code -->



{% endblock js %}

