{% extends "core/base.html" %}

{% block content %}

  {% block content_header %}
    <h2>Subjects</h2>
    <p>
      <a href="{% url 'upload_subject' %}" class="btn btn-primary">Upload Subject</a>
    </p>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Year Level</th>
        <th>Subject Code</th>
        <th>lesson Number</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
        <tr>
          <td>
            {% if subject.cover %}
              <img src="{{ subject.cover.url }}" alt="{{ subject.title }}" style="width:100px;">
            {% else %}
              <span class="text-muted">No cover</span>
            {% endif %}
          </td>
          <td>{{ subject.year_level }}</td>
          <td>{{ subject.subject_code }}</td>
          <td>{{ subject.lesson_number }}</td>
          <td>
            <a href="{{ subject.file.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download PDF
            </a>
          </td>
          <td>
            <form method="post" action="{% url 'delete_subject' subject.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
