{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
    <div class="content-section col-md-9"  style="background-color:#C9D2E3; justify-content: center;
    padding: 10px; position: relative;">
        <br>
        <div  class="content-sectionblog col-md-10" style="position: absolute;  top: -240px;  right: 70px;">
        </div>
        <!--<center>-->
            <br>

    <div class="content-section" style="text-align: left;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>

   </div>
</center>
{% endblock content %}
